* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #1ABC9C;
    padding: 15px 0;
}
.wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.nav-link:not(:last-child) {
    margin-right: 20px;
}
.social-icons:not(:last-child) {
    margin-right: 20px;
}

/* О нас*/

.about {
   display: flex;
   align-items: center; 
}

.about-img {
    width: 50%;
}

.about-info {
    padding: 0 65px;
}
h1 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
p {
    font-size: 20px;
    text-align: justify;
}

/* Наши проекты */

.projects {
    background-color: rgba(220, 255, 235, 1);
    padding: 125px 0;
}

.projects-wrapper {
    width: 90%;
    margin: auto;
}
h2 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 50px;
}

.projects-list {
    display: flex;
    gap: 40px;
}

.project {
    width: 33%;
    aspect-ratio: 1.15/1;
    background-image: url(./images/project__arena.png);
    background-size: 100%;
    display:flex;
    align-items: flex-end;

}

.project-hover {
    padding: 30px 35px 15px;
    background-color: rgb(0, 0, 0, 0.3);
    opacity: 0;
    
}

/*.project:hover {
    transform: scale(1.1);
}*/

.project:hover .project-hover {
    opacity: 1;
    transition: 1s;
    
}

h5 {
font-family: 'Oswald', sans-serif;
font-size: 24px;
font-weight: 500;
color: white;

}

.project-hover-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: white;
    

}



/*
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/