* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
}


.item-2 {
    right: 0;
}

.item-3 {
    bottom: 0;
}

.item-4 {
    bottom: 0;
    right: 0;
}